Source: ros-kinetic-gmplot
Section: misc
Priority: extra
Maintainer: Micho Radovnikovich <mradov@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy
Homepage: http://wiki.ros.org/gmplot
Standards-Version: 3.9.2

Package: ros-kinetic-gmplot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy
Description: ROS wrapping of gmplot library
